body{    background-color: #e0ffff;
        margin: 25px; }

    h1{ color: #00008b; }
    h2{ color: #00008b; }
    h3{ color: grey;}
hr{
  border-color:#00008b;
  border-style:none;
  border-top-style:dotted;
  border-width:5px;
  width:5%;

  }
  
